[build]
  base = "frontend"
  publish = "dist"
  command = "rm -f package-lock.json && yarn install && yarn vite build"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200